
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

:root{
  --primaryFont: Karla, sans-serif;
  --secondaryFont: Markazi Text,serif;
  --navfont: 1.125rem;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 12.3em;
}


nav ul{
  display: flex;
  flex-wrap: wrap;
}
li{
  margin: 0 1rem;
  font-family: var(--primaryFont);
  font-size: var(--navfont);
  font-weight: bolder;
  text-shadow: 1px 2px rgb(0,0,0.3);
}
button.donate{
  font-family: var(--primaryFont);
  font-size: var(--navfont);
  font-weight: bolder;
  text-shadow: 1px 2px rgb(0,0,0.3);
}
 button.donate:hover{
  text-decoration: none;
  color:#D72B35;
}
.modalHeader h4{
  font-size: 1.6rem;
}
.modalHeader h4, .modalBody h5{
  font-family: var(--secondaryFont);
}
.modalBody h5{
  font-size:1.4rem;
}
.modalBody{
  font-family: var(--primaryFont);
  font-size: 1.125rem;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}
.left{
  flex: 0 0 50%;
  height: 100%;
  position: relative;
  text-align: center;
}
.left img{
  margin-top: -2.8rem;
}
.right{
  font-size: 1.8rem;
  font-weight: 400;
  padding-right: 7rem;
}
.mobileHero{
  z-index: -999;
  font-family: var(--primaryFont);
}
.nothing{
  background-color: #ab4a4b;
}
q{
  color: #fff;
}
.about h1{
  font-family: var(--secondaryFont);
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 1px 2px rgba(0,0, 0.3);
}
.setMan{
  width: 50%;
}
.aboutText{
  width: 50%;
  font-family: var(--primaryFont);
  font-size: 1.125rem;
  margin:2.2rem 3rem;
}
.programs{
  background-color: #fff ;
  padding: 2em 3em;
  font-family: var(--primaryFont);
  border-radius:8px;
  box-shadow: 2px 3px rgba(0,0, 0.5);
  transition: all 0.8s ease-in-out;
  cursor: pointer;
}
.programs:hover {
  transform:scale(1.1) translateY(-1.2rem)
}
.programs:hover + .programs, .programs:has(+ .programs:hover) {
  transform: scale(0.8) translateY(-1.2rem);
  }
.programs h1{
  font-family: var(--secondaryFont);
  font-family: 1.125rem;
}
.spanDivide{
  color: #fff;
}
.glide{
  position: relative;
}
.glide__bullets{
  position: absolute;
  top: 110%;
}
.copyRight{
  font-family: var(--primaryFont);
  background-color: #251864;
  color: #fff;
  font-size: 1.125rem;
  padding: 1rem 4rem;

}
.footer h4{
  font-family: var(--secondaryFont);
  font-size: 1.8rem;
}
.footer a, button.donate{
  font-family: var(--secondaryFont);
  font-size: 1.4rem;
}
.footer h5{
  font-family: var(--secondaryFont);
  font-size: 1.4rem;
}

 @media (max-width:740px) {
  body{
    overflow-x: hidden;
  }
   nav ul{
    display: block;
    background-color:#504d5f;
    position: absolute;
    width: 100%;
    right:0;
    margin: 0;
    top: 100%;
    z-index: 99999;
    padding: 2rem 0;  
  }
  .setMan{
    margin: 0 auto;
  }
  .about h1{
    font-size: 2rem;
  font-weight: 400;
  }
  .aboutText{
    width:100%;
    text-align: center;
    /* text-align: left; */
    margin: 0 auto;
    padding: 1rem;
  }
  .program{
    margin: 0 auto;
    text-align: center;
  }
  .programs{
    margin-bottom: 1em;
    padding: 3em 2em;
  }
  .footer{
    text-align: center;
    margin-bottom: 0.8rem;
  }
  .footer img{
    display: block;
    margin:0 auto;
  }
  .social{
    /* align-items: center; */
    display: block;
    margin:0 auto;
   }
   .footer a{
    font-size: 1.2rem;
  }
  .copyRight{
    text-align: center;
  }
 

  }

 
  
